body {
  padding: 0;
  margin: 0;
  font-family: Segoe Ui, sans-serif;
  box-sizing: border-box;
  background-color: rgb(250, 232, 150);
}

.material-icons-round, a {
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

a:focus {
  text-decoration: underline;
}

header {
  position: sticky;
  top: 0;
  min-height: 40px;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(31, 80%, 25%);
  color: rgb(255, 245, 200);
  z-index: 999;
}
header h1 {
  margin: 0;
}
header a {
  text-decoration: none;
  color: rgb(240, 215, 150);
}

nav {
  width: 50%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

#mobile-menu-icon {
  display: none;
}

#close-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: 10px;
}

#anniversary-section {
  position: relative;
  padding: 0;
  width: 100%;
  background-image: url("chocolates.jpg");
  background-size: cover;
}

#anniversary-section #for-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.4);
}

#anniversary-content {
  position: relative;
  color: hsl(49deg, 60%, 78%);
  padding: 20px 10px;
  width: 85%;
  min-width: 750px;
  margin: 0 auto;
  overflow: hidden;
}

#anniversary-content aside {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5rem;
}

#anniversary-content aside span {
  line-height: 1.2;
  font-weight: bold;
  color: hsl(49deg, 91%, 85%);
}

#anniversary-content h1 {
  line-height: 1.2;
  color: hsl(31, 80%, 30%);
  margin: 0;
}
#anniversary-content i {
  display: block;
  color: hsl(49deg, 91%, 85%);
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 400;
}
#anniversary-content p {
  color: hsl(49deg, 91%, 85%);
  margin: 0; 
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3;
}

#products-link {
  width: 25%;
  min-width: 250px;
  display: block;
  font-size: 1.2rem;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgb(255, 245, 200);
  border-radius: 5px;
  margin: 20px 0 10px;
  cursor: pointer;
}

#products-link span {
  float: right;
}

#products-link:hover {
  color: hsl(31, 80%, 30%);
  background-color: rgb(255, 245, 200);
  transition: 0.5s;
}

#products-link:active {
  background-color: unset;
  color: rgb(255, 245, 200);
  transition: 0.5s;
}

#buttons {
  display: flex;
  width: 30%;
  min-width: 300px;
  align-items: center;
}

#buttons button {
  font-size: 1.1rem;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
}

#buttons #sign-in-btn {
  color: rgb(255, 245, 200);
  background-color: hsl(31, 80%, 30%);
  margin-right: 20px;
}

#buttons #sign-up-btn {
  color: hsl(31, 80%, 35%);
  background-color: rgb(255, 245, 200);
}

#sections-container {
  width: 85%;
  min-width: 800px;
  padding: 20px 0;
  margin: 0 auto;
  background-color: rgb(250, 232, 150);
}

#section-one, #section-two, #section-three {
  padding: 10px;
  display: flex;
  align-items: stretch;
  min-width: 720px;
  width: 65%;
  justify-content: space-between;
  margin: 0 0 40px;
  color: rgb(130, 72, 0);
  background-color: hsl(49deg, 60%, 75%);
  box-shadow: 7px 12px 7px rgba(10, 10, 10, 0.2);
  border-radius: 5px;
  overflow: hidden;
}
#section-one h2, #section-two h2, #section-three h2 {
  font-weight: 600;
  margin: 0;
}
#section-one p, #section-two p, #section-three p {
  margin-bottom: 0;
}
#section-one figure, #section-two figure, #section-three figure {
  display: flex;
  margin: 0;
  border-radius: 5px;
  width: 45%;
  overflow: hidden;
}
#section-one img, #section-two img, #section-three img {
  display: block;
  width: 100%;
  object-fit: cover;
}
#section-one article, #section-two article, #section-three article {
  width: 50%;
  text-align: center;
  margin: auto 0;
}

#hiring-section {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(150, 82, 0);
  color: rgb(255, 242, 170);
}

#hiring-section img {
  min-width: 250px;
  width: 30%;
}

#hiring-section article {
  margin: auto 0;
  width: 40%;
  text-align: center;
}

#hiring-section h2 {
  font-weight: 600;
  margin: 0;
}

#hiring-section p {
  margin-bottom: 0;
}

#section-two {
  float: right;
}

#section-two img {
  order: 2;
}

#ending-text {
  text-align: center;
  color: rgb(140, 92, 20);
  background-color: rgb(250, 232, 150);
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.3;
}

footer {
  text-align: center;
  padding: 20px 10%;
  background-color: hsl(31, 80%, 25%);
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

@media screen and (max-width: 850px) {
  nav {
    width: 60%;
    padding-right: 0;
  }

  #anniversary-content {
    padding: 20px 0;
    width: 85%;
    min-width: unset;
    margin: 0 auto;
    overflow: hidden;
  }

  #sections-container {
    width: 100%;
    min-width: unset;
  }

  #section-one, #section-two, #section-three {
    min-width: unset;
    width: 85%;
    margin: 0 auto 40px;
  }

  #section-two {
    float: unset;
  }
  #section-two img {
    order: 0;
  }

  #ending-text {
    min-width: unset;
    width: 85%;
    margin: 0 auto 0;
  }
}
@media screen and (max-width: 650px) {
  #mobile-menu-icon {
    display: inline-block;
  }

  header {
    min-height: 50px;
  }

  nav {
    display: none;
  }

  #show-mobile-menu {
    background-color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0 0 15%;
    display: flex;
    justify-content: initial;
    width: 85%;
    height: 100vh;
    flex-direction: column;
  }
  #show-mobile-menu a {
    margin-bottom: 5vh;
  }
  #show-mobile-menu #close-icon {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  #section-one, #section-two, #section-three {
    display: block;
    padding: 15px;
  }
  #section-one h2, #section-two h2, #section-three h2 {
    margin: 20px 0 0;
  }
  #section-one figure, #section-two figure, #section-three figure {
    width: 100%;
    max-height: 300px;
  }
  #section-one article, #section-two article, #section-three article {
    width: 100%;
  }

  #hiring-section {
    display: block;
  }

  #hiring-section img {
    display: block;
    width: 90%;
    min-width: unset;
    margin: 0 auto;
  }

  #hiring-section article {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  footer {
    padding: 20px 5%;
  }
}

@media screen and (max-width: 450px) {
  #sections-container {
    width: 90%;
  }

  #products-link {
    width: 85%;
    min-width: unset;
  }

  #buttons {
    width: 90%;
    min-width: unset; 
  }

  #section-one, #section-two, #section-three {
    width: 90%;
    margin: 0 auto 40px;
  }

  #ending-text {
    min-width: unset;
    width: 90%;
    margin: 0 auto 0;
  }

  #hiring-section {
    padding: 20px 5%;
  }
}

@media screen and (max-width: 350px) {
  #products-link {
    width: 85%;
  }

  #buttons {
    width: 90%;
    min-width: unset;
    justify-content: space-between; 
  }

  #buttons button {
    padding: 15px 20px;
  }

  #sign-in-btn {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  #products-link {
    width: 90%;
    padding: 10px 4%;
  }

  #products-link span {
    float: unset;
    text-align: center;
    padding-left: 45%;
  }

  #buttons {
    width: 100%;
  }

  #buttons button {
    width: 45%;
    padding: 8px;
  }

  #section-one, #section-two, #section-three {
    width: 80%;
    margin: 0 auto 40px;
  }

}